
<h1>Help</h1>
<p>
	Get help on Ruby on Rails Tutorial at the
	<%= link_to "Rails Tutorial help page", 'http://www.google.com'%> 
	To get help on this sample app, see the
</p>
<%= link_to "Rails Tutorial book", 'http://www.google.com'%>
